<section id="booking-form">
  <div class="container">
    <div class="content">
      <h4>MUA VÉ ONLINE</h4>
      <p>Chọn suất chiếu để mua vé trực tuyến</p>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <select class="form-control" >
              <option>Rạp</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select class="form-control" >
              <option>Chọn Phim</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select class="form-control" >
              <option>Chọn ngày</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
