<!-- Swiper -->

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <app-movie-item></app-movie-item>
    </div>
    <div class="swiper-slide">
      <app-movie-item></app-movie-item>
    </div>
    <div class="swiper-slide">
      <app-movie-item></app-movie-item>
    </div>
    <div class="swiper-slide">
      <app-movie-item></app-movie-item>
    </div>
    <div class="swiper-slide">
      <app-movie-item></app-movie-item>
    </div>
    <div class="swiper-slide">
      <app-movie-item></app-movie-item>
    </div>
    <div class="swiper-slide">
      <app-movie-item></app-movie-item>
    </div>
    <div class="swiper-slide">
      <app-movie-item></app-movie-item>
    </div>
    
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
   <!-- Add Arrows -->
   <div class="swiper-button-next"></div>
   <div class="swiper-button-prev"></div>
</div>
