.tinTuc{
  margin-top: 30px;
  .row--list--m{
    margin:0 30px;
    padding: 20px 0;
            .reviewTitle, .newsTitle{
              text-align: center;
              font-weight: 800;
              font-size: 22px;
            }

     }

    
       

}



