<section class="tinTuc">
  <div class="container">
      
      <div class="tinTuc_item">
          <div class="row row--list--m">

              <div class="col-md-6">
                      <p class="tinTuc__title reviewTitle">
                            REVIEW PHIM
                      </p>
                      <app-review-movie></app-review-movie>
                      <app-review-movie></app-review-movie>
                      <app-review-movie></app-review-movie>
              </div>
              
              <div class="col-md-6">
                      <p class="tinTuc__title newsTitle">
                            BLOG ĐIỆN ẢNH
                      </p>
                     <app-blog-movie></app-blog-movie>
                     <app-blog-movie></app-blog-movie>
                     <app-blog-movie></app-blog-movie>
              </div>
              
          </div>
      </div>
  </div>
</section>