<div class="detailComponent" style="background-color: rgb(10, 32, 41);">
   <div class="col-xs-12">
      <div class="body_detailFilm container-fluid" style="background:rgb(10, 32, 41)">
         <img [src]="phim.HinhAnh" width="100%" height="650px" class="posterFilm ">
         <div class="Gradient"></div>
         <!-- - app-detail-info  -->
         <div class="detailMainInfo mainMaxWidth2">
            <div class="row">
               <div class="col-md-6 col-sm-12 col-xs-6 filmPosterTop">
                  <div class="row">
                     <img alt="Loading..." class="img-fluid"
                        [src]="phim.HinhAnh">
                  </div>
               </div>
               <div class="col-md-6 col-sm-12 col-xs-6 text-white infoMain">
                  <h3 style="color:#CF70D5"><strong>{{phim.TenPhim}}</strong></h3>
                  <p>{{phim.MoTa}}</p>
                  <!-- <p>Thể loại : {{phim.MaNhom}} </p> -->
                  <p>Đánh Giá: {{phim.DanhGia}} </p>
                  <p>Ngày chiếu : {{phim.NgayKhoiChieu | date: 'dd-MM-yyyy'}}</p>
                  <div class="buttonGroup">
                     <button class="btn btn-danger mr-3" mdbBtn type="button" gradient="aqua" rounded="true"
                        mdbWavesEffect>Trailer</button>
                     <div class="buttonBuyTicket">
                        <button class="btn btn-danger mr-3" mdbBtn type="button" gradient="purple" rounded="true"
                           mdbWavesEffect routerLink = '/booking'><span>Mua Vé</span></button>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
               <app-detail-lichchieu></app-detail-lichchieu>

   </div>
</div>