<section class="khuyenMai">
    <div class="container">
        <div class="khuyenMai__title">
                <div class="row row--list--m">
                        <div class="col-md-12">
                            TIN KHUYẾN MÃI
                        </div>
                    </div>
        </div>
        <div class="khuyenMai__img">
            <div class="row row--list--m">
                <div class="col-md-3">
                        <a href="">
                                <img src="https://galaxycine.vn/media/2019/1/2/300x450_1546412569163.jpg" alt="" class="img-fluid">
                        </a>
                </div>
                <div class="col-md-3">
                        <a href="">
                                <img src="https://galaxycine.vn/media/2019/1/2/300x450_1546412569163.jpg" alt="" class="img-fluid">
                        </a>
                </div>
                <div class="col-md-3">
                        <a href="">
                                <img src="https://galaxycine.vn/media/2019/1/2/300x450_1546412569163.jpg" alt="" class="img-fluid">
                        </a>
                </div>
                <div class="col-md-3">
                        <a href="">
                                <img src="https://galaxycine.vn/media/2019/1/2/300x450_1546412569163.jpg" alt="" class="img-fluid">
                        </a>
                </div>
            </div>
           
        </div>
    </div>

</section>