<!-- BEGIN NAVBAR -->
<section id="navBar">
  <nav class="navbar navbar-expand-lg navbar-dark  justify-content-sm-start fixed-top" >

      <a class="navbar-brand order-0 order-lg-0 ml-lg-0 mr-2 ml-auto" href="#">BRANDS</a>

      <button class="navbar-toggler d-lg-none align-self-start" 
              type="button" >
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse d-flex  flex-column flex-lg-row flex-xl-row justify-content-lg-end p-3
                  p-lg-0 mt-5 mt-lg-0 mobileMenu onRight" 
           id="collapsibleNavId">
          <ul class="navbar-nav align-seft-stretch">
              <li class="nav-item ">
                  <a class="nav-link" href="#">PHIM MỚI</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">LỊCH CHIẾU</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">RẠP/GIÁ VÉ</a>
              </li>

          </ul>
          <span class="py-3">
            <button class="btn btn--navbar mr-4 ">LOGIN</button>
            <span><i class="fa fa-search " aria-hidden="true" (click)="toggle_div()"></i></span>
          </span>
      </div>
    
  </nav>
  
</section>
<div class="sidebar" id="sidebar">
        <div class="toggle">
            <i class="fa fa-times text-white" aria-hidden="true" (click)="toggle_div()"></i>
        </div>
      
        <p>Tìm kiếm</p>
      
</div>


<!-- END NAVBAR -->
