#list-film{
    .nav{
        justify-content: center;
        &.nav-pills{
            .nav-item{
                margin-right: 1rem;
                .nav-link{
                    color:black;
                    font-size: 20px;
                    font-weight: bold;
                    &:hover{
                           
                           transform: scale(1.2,1.2);
                           -webkit-transform: scale(1.2,1.2);
                           -moz-transform: scale(1.2,1.2);
                           -ms-transform: scale(1.2,1.2);
                           -o-transform: scale(1.2,1.2);
                    }
                    &.active{
                        color: #fa5238;
                        background-color:   white!important;
                    }
                }
            }
           
        } 
    }
    
    .tab-pane{
        position: relative;
            display: block !important;
            height: 0 !important;
            div{
                height: 0 !important;
               
            }
            &.active{
                height: auto !important;
                div{
                    height: auto !important;
                  
                }
            }
            
            
    }
 
}