<div class="detail_header container">
  <div class="mainHeader row ">
    <!-- poster -->
    <div class="col-sm-3 col-xs-4 filmPoster">
      <div class="row">
        <img ng-src="movie.HinhAnh"
          alt="Loading..." [src]="movie.HinhAnh">
      </div>
    </div>
    <!-- Info -->
    <div class="infoFilm col-sm-7">
      <div>
        <span class="detailInfoFilm text-light">
          {{movie.NgayKhoiChieu}}
        </span>
      </div>
      <div class="parentInfo2">
        <span class="detailMainInfo2">
          <span class="ageType text-light">C16</span>
          <span class="filmName text-light">{{movie.TenPhim}}</span>
        </span>
      </div>
      <div>
        <span class="detailMainInfo1 text-light">90 phút - 0 IMDb</span><br>
      </div>
      <button class="btnBuyTicketDetail text-light btn btn-danger">Mua vé</button>
    </div>

    <div class="col-sm-2 circleStar">
        <div class="circlePersent p92">
          <div class="circleBorder">
          </div>
          <span class="number">9.2</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>

        <!-- DANH GIA SAO -->
        <!-- <div class="row star" style="margin-top: 10px">
        </div> -->
        <div class="row" style="margin-top: 10px">
          <span class="detailMainInfo1" style="margin: auto ; color: white">739 người đánh giá</span>
        </div>
    </div>
    
  </div>
<br>
</div>
<div class="navCenter container">
    <div class="headerNavcenter">
      <div class="container text-center">
          <app-type-detail></app-type-detail>
      </div>
    </div>
  </div>

