<div class="detail_header">
  <div class="mainHeader">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-6">
        <img class="img-fluid" alt="Loading..." src="https://s3img.vcdn.vn/mobile/123phim/2019/01/hai-phuong-15475430043621_220x310.jpg">
      </div>
      <div class="col-md-6 col-sm-12 col-xs-6 text-white">
        <h3 >Phim</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut facere autem cum distinctio iure eum accusantium suscipit inventore velit totam!</p>
        <p>Thể loại :</p>
        <p>Thời lượng :</p>
        <p>Ngày chiếu :</p>
        
        <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Trailer</button>
        <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Mua vé</button>
      </div>
    </div>
       

    


  </div>
</div>




