.lichChieu{
    position: relative;
    width: 100%;
    height: 100%;
  
    .lichChieu__content{
      .myDynamics{
        width: 60%;
        position: relative;
        top: 50%;
        left: 47%;
        transform: translate3d(-25%,10%,0)    ;
        -webkit-transform: translate3d(-25%,10%,0)    ;
        -moz-transform: translate3d(-25%,10%,0)    ;
        -ms-transform: translate3d(-25%,10%,0)    ;
        -o-transform: translate3d(-25%,10%,0)    ;
        .myLink{
          width: 100%;
        }
  }
        .myTab{
            position: relative;
            padding-top:30px;
            background: white;
            border-radius:    5px             ;
            -webkit-border-radius:    5px             ;
            -moz-border-radius:    5px             ;
            -ms-border-radius:    5px             ;
            -o-border-radius:    5px             ;
            .Cinemas01{
                .titleMovieInfo
                {   
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                    padding-left: 20px;
                    white-space: nowrap;
                    margin-bottom: 20px;
                    .wrapInfo{
                        padding: 0 0 0 20px;
                        .headName{
                            p{margin-bottom: 0px;}
                        }
                        .addressInfo{
                            margin-bottom: 0px;
                        }
                    }
                }
            }
            .listTypeTime{
                display:table;
                width: 100%;
                padding-left: 20px;
                .timeShow{
                    padding :0 0;
                    line-height: 1;
                    vertical-align: top;
                    a{
                        color: #417505;
                        float: left;
                        font-size: 26px;
                        font-weight: 500;
                        color: #417500;
                        margin: 0 5px 15px 0;
                        transition: all .2s;
                        text-decoration: none;
                    }
                }
            }
        }
    }
  }
// .lichChieu{
//     position: relative;
//     width: 100%;
//     height: 100%;
//     .myDynamics{
//         width: 100%;
//         position: relative;
//         top: 50%;
//         left: 50%;
//         transform: translate3d(-18%,10%,0)    ;
//         -webkit-transform: translate3d(-18%,10%,0)    ;
//         -moz-transform: translate3d(-18%,10%,0)    ;
//         -ms-transform: translate3d(-18%,10%,0)    ;
//         -o-transform: translate3d(-18%,10%,0)    ;

// }
//     .lichChieu__content{
//         .myTab{
//             position: relative;
//             padding-top:30px;
//             background: white;
//             border-radius:    5px             ;
//             -webkit-border-radius:    5px             ;
//             -moz-border-radius:    5px             ;
//             -ms-border-radius:    5px             ;
//             -o-border-radius:    5px             ;
//             .Cinemas01{
//                 .titleMovieInfo
//                 {   
//                     width: 100%;
//                     display: flex;
//                     align-items: center;
//                     padding-top: 20px;
//                     padding-left: 20px;
//                     white-space: nowrap;
//                     margin-bottom: 20px;
//                     .wrapInfo{
//                         padding: 0 0 0 20px;
//                         .headName{
//                             p{margin-bottom: 0px;}
//                         }
//                         .addressInfo{
//                             margin-bottom: 0px;
//                         }
//                     }
//                 }
//             }
//             .listTypeTime{
//                 display:table;
//                 width: 100%;
//                 padding-left: 20px;
//                 .timeShow{
//                     padding :0 0;
//                     line-height: 1;
//                     vertical-align: top;
//                     a{
//                         color: #417505;
//                         float: left;
//                         font-size: 26px;
//                         font-weight: 500;
//                         color: #417500;
//                         margin: 0 5px 15px 0;
//                         transition: all .2s;
//                         text-decoration: none;
//                     }
//                 }
//             }
//         }
//     }
// }