
<form #formDangNhap="ngForm" (ngSubmit)="DangNhap(formDangNhap.value)">

  <div class="md-form">
    <input mdbInput mdbValidate required id="formdnTaiKhoan" type="text" #taiKhoan="ngModel" class="form-control" name="TaiKhoan" ngModel  />
    <label for="formdnTaiKhoan">Tài Khoản</label>

    <div *ngIf="(taiKhoan.touched || taiKhoan.dirty) && taiKhoan.errors">
        <mdb-error *ngIf="taiKhoan.errors.required" >
          Tài khoản không được rỗng
        </mdb-error>
        
    </div>
  </div>

<div class="md-form">
    <input mdbInput mdbValidate required id="formDnMatKhau" type="password" #matKhau="ngModel" class="form-control" name="MatKhau" maxlength="18" minlength="6" ngModel  />
    <label for="formDnMatKhau">Mật khẩu</label>

    <div *ngIf="(matKhau.touched || matKhau.dirty) && matKhau.errors">
        <mdb-error *ngIf="matKhau.errors.required" >
          Mật khẩu không được rỗng
        </mdb-error>
        <mdb-error *ngIf="matKhau.errors.minlength || matKhau.errors.maxlength" >
            Mật khẩu phải từ 6 đến 18 ký tự
        </mdb-error>
    </div>
</div>

  <div class="text-center mb-3">
    <button [disabled]="formDangNhap.invalid || formDangNhap.submitted" type="submit"  mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>Sign In</button>
  </div>

</form>