<div class="box">
      <div class="imgBox">
            <a (click)="xemChiTiet()" [routerLink]="['/chitietphim',phim.MaPhim]">
                  <img [src]="phim.HinhAnh" alt="Card image" class="img-fluid" />
            </a>
      </div>
      <div class="button_box">
            <button mdbBtn class="mr-2 button" type="button" gradient="aqua" rounded="true" mdbWavesEffect
                  routerLink='/chitietphim'>Trailer</button>

            <button class="px-3 button" mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect
                  routerLink='/booking'>Mua vé</button>
            <!-- <a  [routerLink]="['/datve']"><button class="px-3 button" mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Mua vé</button></a> -->



      </div>
      <div class="details">
            <h5>{{phim.TenPhim}}</h5>

      </div>
</div>




<!-- Button trigger modal-->